*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #AC1754;
    color: #F7A8C4;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.time{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 5px solid #F37199;
    line-height: 10rem;
    width: 40vw;
    height: 10rem;
    border-radius: 23px;
    font-size: 5rem;
    font-weight: 700;
}
.stopwatch{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    margin-top: 10rem;
}

.heading{
    line-height: 5rem;
    background-color: #F37199;
    color: #AC1754;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 4rem;
}

button{
    padding: 1rem;
    width: 10rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 15px;
    background-color: #F37199;
    color: #AC1754;
    cursor: pointer;
    font-weight: 800;
}

button:hover{
    background-color: #AC1754;
    color: #F37199;
    border: 2px solid #F37199;
    transform: scale(1.1);
    transition: all 0.3s;
}