* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f1f1f1;
    font-family: Arial, sans-serif;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

.amount, .dropdown, .msg {
    margin-bottom: 20px;
}

.amount p, .dropdown p {
    margin-bottom: 10px;
    color: #555;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.from, .to {
    display: flex;
    align-items: center;
    gap: 10px;
}

.select-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
}

.fa-arrow-right-arrow-left {
    display: block;
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

.msg {
    text-align: center;
    font-size: 18px;
    color: #333;
}

button {
    padding: 10px;
    background: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #000000;
}